{% extends "base.html" %}
{% block content %}
<div class="body-container-wrapper">
  <div class="body-container">
    <div class="page-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8" style="width: 30vw; margin: 0 auto">
              <div class="file-loading">
                  <input id="input-folder-3" name="input-folder-3[]" type="file" multiple>
              </div>
              <script>
              $(document).ready(function() {
                  $("#input-folder-3").fileinput({
                      uploadUrl: "/static/uploads",
                      hideThumbnailContent: false,
                      maxFileCount: 1,
                      allowedFileTypes: ['image'],
                  }).on("fileuploaded", function(event, data) {
                    console.log(data.response)
                  });
              });
              </script>
          </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}